.inputBox {
  width: 100%;
  margin-top: 20px;
}

.inputBox label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #fff;
}

.inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.inputBox input::placeholder{
    color: #fff;
}


