.card-container {
  background: #fff;
  width: 369px;
  height: 332px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.404);
  transition: 0.3s;
  animation: ease-in;
  margin: 20px;
  border-radius: 8px;
  align-self: center;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.404);
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  margin-top: 50px;
  overflow: hidden;
  height: 90px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

.card-title h3,
p {
  /* Resetting default value */
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
}

.card-title {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 820px) {
  .vantagens-container {
    flex-direction: column;
  }

  .card-container {
  }
}
