.insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insights > div {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.insights > div:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
}

.insights > div span {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 1.5rem;
}

.insights > div.expenses span {
  background: var(--color-danger);
}

.insights > div.income span {
  background: var(--color-success);
}

.insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

.insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.insights svg {
  width: 7rem;
  height: 7rem;
}

.insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

.insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

.insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

.insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

.insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
