.keychain-container-glass {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keychain-content-glass {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
}

.flip-card h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: blue;
  color: black;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.flip-card-front h2 {
    color:#fff;
    margin-top:12px;
}

.flip-card-front h3 {
    color:#fff;
    margin-top:12px;
}

.flip-card-front h4 {
    color:#fff;
    margin-top:12px;
}

.flip-card-back {
  background-color: blue;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.flip-card-front img {
  height: 230px;
  width: 230px;
  object-fit: cover;
  border-radius: 12px;
  margin-top:12px;
}

.flip-card-back img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 50px;
}

.keychain-hole {
  position: relative;
  margin-top: 10px;
  height: 15px;
  border-radius: 12px;
  width: 30%;
  background-color: #fff;
  margin-left: 135px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
